body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.header{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
h1{
    color: #ffffff;
    font-size: 45px;
    text-align: center;
}
h2{
    font-size: 18px;
    color: #8dcf9d;
    font-weight: 600;
    text-align: center;
    padding-left: 550px;
    padding-right: 550px;
    margin-top: -15px;
}
.buttons{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 25px 12px 25px;
    text-align: center;
    background-color: #8dcf9d;
    margin-left: 855px;
    border-radius: 5px;
}
.second-h1{
    color: #8dcf9d;
}
.second-h2{
    color: #313131;
}
.donate-amount{
    display: flex;
    margin-left: 480px;
}
.add-padding{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 600;
    font-size: larger;
    margin-left: 10px;
    margin-right: 20px;
    color: #313131;
    background-color: #f8f8f8;
}
.color-amount{
    color: #8dcf9d;
    border: 2px solid #8dcf9d;
    box-shadow: 8px 8px 16px #31313115;
}
#other-amount-text{
    padding-left: 180px;
    padding-right: 180px;
    border-bottom: 1.5px solid #b9b9b9;
    margin-left: 690px;
    margin-right: 690px;
    color: #b9b9b9;
}
.donate-categories{
    display: flex;
    margin-left: 375px;
    width: 65%;
}
.food-family{
    background-color: #dbaeff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.family-shelter{
    margin-left: 90px;
    margin-right: 90px;
    background-color: #a7e5f8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.child-education{
    background-color: #e5eb92;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
}
.donate-categories h2{
    text-align: left;
    padding: 0px;
    color: #ffffff;
}
.contribution{
    color: #8dcf9d;
    
}
.contribute-one{
    display: flex;
    width: 85%;
    text-decoration: none;
}
#contribute-one{
    padding-left: 375px;
    padding-right: 190px;
}
#contribute-one h1{
    text-align: left;
    color: #8dcf9d;
    font-weight: 550;
}
.contribute-button{
    text-decoration: none;
    background-color: #8dcf9d;
    color: #ffffff;
    padding: 12px 25px 12px 25px;
    font-size: 20px;
    font-weight: 700;
}
.buttons-contribute{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 25px 12px 25px;
    text-align: center;
    background-color: #8dcf9d;
    border-radius: 5px;
}